@{
                /**/

                ViewBag.Title = "About Mason";
}
<div class="subBody1">
    <h2 class="pageTitle">@ViewBag.Title</h2>

    <p id="aboutBody">
        George Mason University (GMU, Mason, or George Mason) is a public research university in Fairfax, Virginia.
        It was officially established in 1956 as a Northern Virginia branch of the University of Virginia and later became an independent institution in 1972.
        It has since grown to become the largest four-year public university in the Commonwealth of Virginia.
        The university is named after the founding father George Mason, a Virginia planter and politician who authored the Virginia Declaration of Rights,
        the basis for the U.S. Constitution's Bill of Rights. Mason operates four campuses in Virginia, with a fifth campus in Songdo, South Korea.
    </p>

    <p id="aboutBody">
        George Mason has 37,677 students. In-state students account for 81 percent of enrollment;
        45 percent are from minority racial/ethnic groups. Degreeseeking undergraduates total 25,508,
        and slightly more than 6,000 undergraduates (23 percent) live in on-campus housing. First-generation college
        students make up 36 percent of the undergraduate enrollment.
    </p>

</div>
