@{
    ViewBag.Title = "Contact Us!";
}
<div class="subBody1">
    <h2 class="pageTitle">@ViewBag.Title</h2>

    <div class="col-sm-6" id="contactBody">
        <h4>Email/Phone</h4>
        <p>Email: admin@gmu.edu</p>
        <p>Phone: 703-993-2400</p>
        <p>Phone: 703-993-2392</p>
        <br />
        <h4>Mailing Address</h4>
        <p>George Mason University</p>
        <p>Office of Admissions</p>
        <p>4400 University Drive, MSN 3A4</p>
        <p>Fairfax VA 22030</p>
    </div>
    <div class="col-sm-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6216.269022423878!2d-77.31039766066465!3d38.82938017863753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b64e6016d46661%3A0x355aa7d4318ed88e!2sJohnson%20Center%20Information%20Desk!5e0!3m2!1sen!2sus!4v1575674261034!5m2!1sen!2sus" width="550" height="420" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
