@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron greened">
    <div class="subBody1 center-block">
        <img src="~/Content/fairfaxMain.jpg" id="fairfaxMain" />
    </div>
</div>

<div class="row subBody1" id="homeBody">
    <div class="col-md-4">
        <img src="~/Content/applyPic.jpg" class="introPics" />
        <h2>Apply Now!</h2>
        <p>
            Mason will nurture your talents, expand your knowledge, and prepare you to take advantage of limitless possibilities.
            There's no regimented road to success. Forge a path that fulfills your dreams.
        </p>
        <p><a href="Students/Create" class="btn btn-primary btn-lg">Apply now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/aidPic.jpg" class="introPics" />
        <h2>Admissions and Aid</h2>
        <p>
            George Mason University is here to provide you not only a path to your degree,
            but a college experience like no other. Mason offers over 200 degrees and numerous minors
            and certificate programs so you can customize your education to meet your career and personal goals.
            Our top priority is to provide students with a transformational learning experience that helps them grow as individuals,
            scholars, and professionals.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/lifePic.jpg" class="introPics" />
        <h2>Student Life</h2>
        <p>
            Want to know where to eat, sleep, study, join a club, take the shuttle to D.C. or catch a Patriots basketball game? You’ve come to the right place.
            We’ve got you covered. If you can’t find exactly what you’re looking for, just ask. That’s what we’re here for.
            We want you to have an amazing experience at Mason—from the day you arrive until the day you graduate and beyond.
        </p>
    </div>
</div>